# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=NuwaCoin Daemon SNAP
Comment=main
GenericName=NuwaCoin Digital Currency Daemon Client main network
Exec=nuwacoin-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/nuwacoin.png
MimeType=x-scheme-handler/nac;
Categories=X-Office;X-Finance;
Keywords=internet;nuwacoin;znac;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
